<div class='container'>
  <div class='row'>
    <h1>Documented Changes</h1>
    <div class='col-md-2'>
      <a href="<%= new_documented_change_path %>"
         class='btn btn-primary'
         style='margin-top: 20%;'
      >
        Add New Change
      </a>
    </div>

    <div class='col-md-10'>
      <table class='table table-striped'>
        <thead>
          <tr>
            <th>Summary</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @documented_changes.each do |change| %>
            <tr>
              <td>
                <a href="<%= documented_change_path(change) %>">
                  <%= change.summary %>
                </a>
              </td>
              <td><%= change.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
